<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body{{ with .File }} class="page-{{ .ContentBaseName }}"{{ end }}>
    <div class="site">
      <header class="site-header">
        <nav class="site-nav" aria-label="Main">
          <ul class="menu">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </header>
