<ul class="social-links" aria-label="Social links">
  <li>
    <a href="https://github.com/ppandey10" aria-label="GitHub">
      <i class="fa-brands fa-github" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#" aria-label="Google Scholar">
      <i class="fa-brands fa-google-scholar" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="https://orcid.org/0000-0002-9044-3512" aria-label="ORCID">
      <i class="fa-brands fa-orcid" aria-hidden="true"></i>
    </a>
  </li>
</ul>
