{{ partial "header.html" . }}

{{ if not .IsHome }}
<header class="page-header">
  <h1 class="page-title">{{ .Title | markdownify }}</h1>
</header>
{{ end }}

<main class="page-content">
{{ .Content }}

{{ if not .IsHome }}
<ul class="post-list">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "02/01/2006" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
</main>

{{ partial "footer.html" . }}